// partials
@use "../_partials/brand-variables" as bv;

%btn {
  color: white;
  max-height: 50px;
  flex: 1;
  padding: 10px 20px;
  margin: 0;
  background-color: #007aff;
  border: 2px solid #004d80;
  font-size: 14px;
  text-align: center;
  box-shadow: 0px 2px 0px #004d80;
  @include bv.font--secondary(300);

  &:hover {
    background-color: bv.$dark-color;
    border: 2px solid bv.$primary-color;
    color: white;
  }
}
