@use "../_partials/normalisation";
@use "../_partials/site-standardization";
@use "../_partials/brand-variables" as bv;

.clock {
  @extend %macOS-wallpaper;
  border: 5px red solid;
  @extend %flex-align-center;
  justify-content: flex-end;
  padding: 0.5rem;
}
