@use "../_partials/normalisation";
@use "../_partials/helpers";
@use "../_partials/brand-variables" as bv;

footer {
  @extend %macOS-wallpaper;
  @extend %flex-row-align-center;
  justify-content: flex-end;
}

.time {
  background: white;
  @extend %box-shadow-border-all;
  display: flex;
  flex-direction: column;
  margin: 0 0.5em 0.5em 0;
  row-gap: 1em;
  padding: 0.75em;
}

.clock {
  &__wrapper {
    @extend %flex-row-align-center;
    justify-content: center;
    column-gap: 1.5em;
    // margin: 0 0.5em 0.5em 0;
    // padding: 0.75rem;
  }

  &--close {
    @extend %flex-row-center-center;
  }

  &__display {
    @include bv.font--primary(400);
    min-width: fit-content;
    @extend %flex-row-align-center;

    &--date {
      justify-content: flex-end;
    }
  }
}
