%arrow-cursor {
  cursor: url("../../assets/controls/Click.png");
}
%pointer-cursor {
  //   cursor: url("../../assets/controls/Point.png");
  cursor: pointer;
}
%hand-cursor {
  cursor: url("../../assets/controls/Hand.png");
}
