// partials
@use "../_partials/normalisation";
@use "../_partials/helpers";
@use "../_partials/brand-variables" as bv;

.desktop {
  flex-grow: 1; // takes up the remainder vh
  overflow-x: hidden;
  position: relative; //check if i need this
  @extend %macOS-wallpaper;
}
