@use "../_partials/brand-variables" as bv;
@use "../_components/cursors.scss";

.icon__container {
  display: flex;
  flex-wrap: wrap; // wrap the icons into multiple lines
  max-width: 210px;
  column-gap: 0.5em;
  row-gap: 2em;
  justify-content: space-between;
  position: absolute;
  top: 7em;
  right: 2em;
}

.icon:hover svg path {
  fill: black;
  stroke: white;
}
.icon:hover svg rect {
  fill: black;
  stroke: white;
}
.icon:hover svg text {
  fill: white;
}

.icon {
  z-index: 1;
  background-color: transparent; // get rid of the default btn stylings
  border: none; // get rid of the default btn stylings
  @extend %pointer-cursor;

  // control the size of the icons
  &__computer,
  &__trash,
  &__printer,
  &__chuck,
  &__notes {
    width: 90px;
    height: 105px;
  }

  svg text {
    @include bv.font--secondary(500);
    text-anchor: middle;
    font-size: 1em;
  }

  &__trash {
    margin-left: auto; // push this to the right side
  }

  p {
    margin: 0;
    padding: 5px 3px;
    background-color: white;
    @include bv.font--secondary(500);
    font-size: 1.15em;
  }

  &__computer,
  &__floppy,
  &__printer,
  &__trash {
    & img {
      height: 100%;
      width: 100%;
    }
  }
}
