@use "../_partials/brand-variables" as bv;

.icon-container {
  display: flex;
  flex-wrap: wrap; // wrap the icons into multiple lines
  max-width: 210px;
  column-gap: 0.5em;
  row-gap: 2em;
  justify-content: space-between;
  position: absolute;
  top: 7em;
  right: 2em;
}

.icon {
  z-index: 1;
  // get rid of the default btn stylings
  background-color: transparent;
  border: none;

  // control the size of the img
  &__computer,
  &__floppy,
  &__printer,
  &__trash {
    width: 90px;
    height: 105px;
  }

  &__trash {
    margin-left: auto; // push this to the right side
  }

  p {
    margin: 0;
    padding: 5px 3px;
    background-color: white;
    @include bv.font--secondary(500);
    font-size: 1.15em;
  }

  &__computer,
  &__floppy,
  &__printer,
  &__trash {
    & img {
      height: 100%;
      width: 100%;
    }
  }
}
