// partials
@use "../_partials/normalisation";
@use "../_partials/helpers";
@use "../_partials/brand-variables" as bv;

// menu a
%linkStyle {
  font-size: 16px;
  padding: 1em;
}

header {
  background-color: bv.$primary-color;
}

.menu {
  display: flex;
  background-color: white;
  @extend %rounded-border-top;

  //sub-menu
  &__sub {
    position: relative; // any child elements of .menu__subnav with position: absolute; will be positioned relative to .menu__subnav

    &-content {
      display: none;
      position: absolute;
      left: 0; // sit the sub menu aligned with the main menu to the left
      border: 1px solid black;
      background-color: white;
      width: 100%;
      z-index: 1; // increase the z-index so it sits on top of desktop

      a {
        color: bv.$primary-color;
        text-decoration: none;
        @include bv.font--primary(400);
      }
    }

    &:hover &-content {
      // when we hover the menu button display the sub menu as a block
      display: block;
    }
  }

  &__btn {
    font-size: 16px;
    border: none;
    outline: none;
    color: bv.$primary-color;
    padding: 14px 16px;
    background-color: inherit;
    @include bv.font--primary(400);
    margin: 0;
  }

  &__btn:hover,
  &__sub-content a:hover {
    background-color: red;
  }
}
