// partials
@use "../_partials/normalisation";
@use "../_partials/site-standardization";
@use "../_partials/brand-variables" as bv;

%flex-align-center {
  display: flex;
  align-items: center;
}

.menu {
  background-color: white;
  @extend %flex-align-center;
  justify-content: flex-start;
  padding: 0.5rem;

  // logo
  &__logo {
    background-color: pink;
    @include bv.menuLinkStyle;
  }

  // nav
  &__nav {
    @extend %flex-align-center;
    justify-content: space-between;

    & button {
      background-color: pink;
      @include bv.menuLinkStyle;
      // resetting a default button appearance
      border: 0;
      box-shadow: none;
      cursor: pointer;
    }
  }
}
