// partials
@use "../_partials/normalisation";
@use "../_partials/helpers";
@use "../_partials/brand-variables" as bv;

// menu a
%linkStyle {
  color: black;
  text-decoration: none;
  font-size: 16px;
  padding: 1em;
  @include bv.font--primary(400);
}

header {
  background-color: black;
}

.menu {
  background-color: white;
  @extend %flex-row-align-center;
  justify-content: flex-start;
  padding: 0.5rem;
  column-gap: 15px;
  @extend %rounded-border-top;

  // logo
  &__logo {
    background-color: pink;
    @extend %linkStyle;
  }

  // nav
  &__nav {
    @extend %flex-row-align-center;
    justify-content: space-between;
    column-gap: 15px;

    & button {
      background-color: pink;
      @extend %linkStyle;
      // resetting a default button appearance
      border: 0;
      box-shadow: none;
      cursor: pointer;
    }
  }
}
