// partials
@use "../_partials/brand-variables" as bv;
@use "./btn.scss";

.modal {
  // TO DO INVESTIGATE DRAG AND DROP if time
  display: none;
  position: absolute;
  top: 5em;
  left: 15em;
  background-color: white;
  max-width: 50em;
  max-height: 30em;
  background-color: black;
  z-index: 2;

  &__frame {
    height: 25px;
    background-color: white;

    & img {
      position: relative;
      top: 0.25em;
      left: 0.25em;
    }
  }

  &__btn {
    @extend %btn;
  }
}

.show {
  display: block;
}
