// partials
@use "../_partials/brand-variables" as bv;
@use "../_components/cursors.scss";

.calendar {
  &__container {
    position: relative;
    width: 450px;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
  }

  &__header {
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;

    & p {
      @include bv.font--primary(500);
    }
  }

  &-navigation {
    display: flex;

    & i {
      height: 38px;
      width: 38px;
      margin: 0 1px;
      cursor: pointer;
      text-align: center;
      line-height: 38px;
      border-radius: 50%;
      user-select: none;
      font-size: 1.9rem;
      color: bv.$primary-color;

      &:last-child {
        margin-right: -10px;
      }
    }
  }

  &__body {
    padding: 20px;

    & ul {
      list-style: none;
      flex-wrap: wrap;
      display: flex;
      text-align: center;
      @include bv.font--secondary(400);
    }

    & li {
      width: calc(100% / 7);
      font-size: 1.07rem;
      color: bv.$primary-color;
    }
  }

  .calendar__weekdays {
    li {
      cursor: default;
      font-weight: 500;
    }
  }

  .calendar__dates {
    li {
      margin-top: 30px;
      position: relative;
      z-index: 1;
      @extend %pointer-cursor;

      &.inactive {
        color: bv.$primary-color;
      }

      &.active {
        color: bv.$light-color;

        &::before {
          background: red;
        }
      }

      &::before {
        position: absolute;
        content: "";
        z-index: -1;
        top: 50%;
        left: 50%;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        transform: translate(-50%, -50%);
      }

      &:not(.active):hover::before {
        background: #e4e1e1;
      }
    }
  }
  &__dates {
    margin-bottom: 20px;
  }
}
