// partials
@use "../_partials/brand-variables" as bv;

.chuck {
  &__container {
    @extend %rounded-border-top;
    background-color: white;
    flex: 1;
  }

  &__header {
    @include bv.font--primary(400);
    padding: 2em;
  }

  &__category {
    @include bv.font--secondary(400);
  }

  &__text {
    @include bv.font--secondary(400);
    padding: 2em;
  }
}

// to avoid having another class
label.chuck__category {
  padding: 1em;
}
