@use "../_partials/normalisation";
@use "../_partials/helpers";
@use "../_components/cursors.scss";
@use "../_partials/brand-variables" as bv;

.clock {
  &__container {
    position: absolute; // in relation to desktop
    left: 0;
    bottom: 0;
    transform: translate(5%, -10%);
    display: flex;
    flex-direction: column;
    width: max-content;
  }

  &__img {
    height: 25px;
  }

  &__wrapper {
    background: white;
    @extend %box-shadow-border-all;
    @extend %flex-row-center-center;
    // margin: 0 0.5em 0.5em 0;
    column-gap: 1.5em;
    padding: 0.75em;

    &--hidden {
      display: none;
    }

    &.show {
      background: white;
      @extend %box-shadow-border-all;
      @extend %flex-row-center-center;
      // margin: 0 0.5em 0.5em 0;
      column-gap: 1.5em;
      padding: 0.75em;
    }
  }

  &--close {
    align-self: flex-start;
  }

  &__display {
    @include bv.font--primary(400);
    min-width: fit-content;
    align-self: center;
  }
}

#clockDateBtnClose,
#clockDateBtnOpen,
#clockCalendarBtnOpen,
#clockCalendarBtnClose {
  @extend %pointer-cursor;
}
