@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Press+Start+2P&display=swap");

$primary-color: black;
$secondary-color: #828282;
$dark-color: #191919;
$light-color: #e9ecea;

// taking the fonts weight as params for easy customisation
@mixin font--primary($weight) {
  font-family: "Press Start 2P", system-ui; //Chicago
  font-weight: $weight;
  line-height: 1.6;
  letter-spacing: 0.15em;
}

@mixin font--secondary($weight) {
  font-family: "IBM Plex Sans", sans-serif; //Geneva
  font-weight: $weight;
  line-height: 1.6;
}

%macOS-wallpaper {
  background: url(../assets/bg.svg) repeat;
  background-size: 4px 4px;
}

%box-shadow-border-all {
  border: 3px solid black;
  box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
}

%rounded-border-top {
  border: 3px solid black;
  border-radius: 10px 10px 0 0;
}

%flex-row-align-center {
  display: flex;
  align-items: center;
}
